@media (max-width: 991px) {
  body {
    gap: 2.5rem;
  }

  nav {
    padding: 1.5rem;
  }

  nav ul {
    gap: 1.2rem;
    font-size: 1.8rem;
  }

  .section1 {
    padding: 10rem 0;
  }

  .section1 h1 {
    font-size: 3.2rem;
  }

  .section1 p {
    font-size: 1.8rem;
  }

  .section1 img {
    max-width: 35rem;
    top: 5rem;
    right: -12rem;
  }

  .section2 h2 {
    font-size: 3.2rem;
  }

  .section2 .textoconhece {
    font-size: 1.5rem;
  }

  .projetos-caixa div {
    gap: 1.5rem;
  }

  .caixa-cinza {
    width: 85%;
  }

  footer {
    gap: 3.5rem;
  }

  .footerinfo h3,
  .footer-content .contato,
  .textofoot {
    font-size: 1.8rem;
  }
}
